language: node_js
node_js:
    - "10"
cache: npm
install:
    - npm ci
script:
    - npx eslint .
    - npm run test
    - npm run build
    - now alias --token=$SECRET_KEY labki-$TRAVIS_BRANCH.now.sh